/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body{
	font-family: 'Open Sans', sans-serif;
	color: #4F555C;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.not-front{
	background-color: #E9EAED;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Strait', sans-serif;
	color: #505964;
	margin: 0;
}
li {
	list-style: none;
}
ul{
	padding: 0px;
	margin: 0px;
}
.container, .navbar.container{
	width: 100%;
	max-width: 100%;
}
.col-sm-9 {
	border-right: 1px solid #d2dde6;
	padding-top: 30px;
}
.col-sm-3{
	padding-top: 30px;
}
/**********************************
************** un-top *************
/*********************************/
.un-top{
	height: 34px;
	position: relative;
	padding: 7px 0 0 10px;
	background: #343537;
	border-bottom: 1px solid #135CAA;
}
.un-top img{
	position: relative;
	top:-2px;
	margin: 0 5px 0 0;
}
.un-top a{
	color: #e3e3e3;
	text-decoration: none;
	font-size: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.region.region-un-bar {
	position: absolute;
	top: 8px;
	right: 10px;
	color: #E3E3E3;
	text-decoration: none;
	font-size: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#block-locale-language, #block-system-user-menu {
	float: left;
}
#block-system-user-menu li {
	display: inline-block;
}
#block-locale-language a{
	color: gray;
	text-decoration: none;
	font-size: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#block-locale-language li {
	display: inline;
	border-right: 1px solid #525252;
	padding: 0 5px 0 0;
	margin: 0 5px 0 0;
}
#block-locale-language li.active a, #block-locale-language a:hover{
	color: #e3e3e3;
}
#block-locale-language li.last{
	border: 0px;
}
#block-system-user-menu a {
	padding: 0px 5px;
	color: #00ADFF;
	text-decoration: none;
	font-size: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	border-left: 3px solid #646464;
	background: #505050;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}
#block-system-user-menu .nav li a:hover{
	background: #646464;
		padding: 0px 10px;
}
/*********************************/
#navbar {
	margin: 0px;
	padding: 0px;
}
.not-front #navbar {
	border-bottom: 1px solid #D2DDE6;
	background: #F4F7FA;
}
body.admin-menu.navbar-is-fixed-top {
	padding-top: 139px!important;
}
body.navbar-is-fixed-top {
	padding-top: 130px!important;
}
#block-views-event-details-block-6 .views-field-field-event-logo {
    float: left;
}
#block-views-event-details-block-6 .views-field-field-organization-logo {
    float: right;
    margin: 6px 17px 0 0;
}
#navbar .container, #navbar .navbar-collapse.collapse {
	padding: 0;
}
/* Sidebar */
#block-views-media-block-1 {
	background: rgba(0, 0, 0, 0);
	border: 0px;
}
#block-views-media-block-1 .view {
	margin: 0;
}

.flexslider {
	margin: 0 0 30px;
}
.flexslider .slides img {
	height: auto;
}
.region-sidebar-second .block {
	margin: 0 0 10px 0;
	background: #FFF;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	-webkit-border-radius: 3px;
}
.region-sidebar-second .block-views .view {
	margin: 10px;
}
.region-sidebar-second .block-title {
	color: #4E5665;
	font-size: 22px;
	padding: 10px;
	margin: 0;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#F7F7F7));
	background: -webkit-linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background: #F6F7F8;
	border-bottom: 1px solid #E5E5E5;
}



#block-views-event-details-block-5 .views-field, #block-views-event-details-block-2 li, #block-views-event-details-block-1 li{
	border-bottom: 1px solid #E2E5E7;
	display: block;
	padding: 7px;
}
.region-sidebar-second .views-label {
	font-weight: bold;
}
.node-type-master-event .page-header{
	display: none;
}
.views-label-field-event-telephone {
	float: left;
	margin: 0 5px 0 0;
}

#block-views-event-details-block-7 .views-field {
	position: relative;
	height: 130px;
	margin: 10px 0 0 0;
	overflow: hidden;
}
#block-views-event-details-block-7 .views-label{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: 5px;
}
.region-sidebar-second .block-title:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	margin: 0 6px 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#block-views-event-details-block-5 > h2:before{
	content: "\f05a";
}
#block-views-event-details-block-2 > h2:before{
	content: "\f0c1";
}
#block-views-event-details-block-1 > h2:before{
	content: "\f022";
}
#block-views-event-details-block-7 > h2:before{
	content: "\f041";
}
#block-views-event-details-block-8 > h2:before{
	content: "\f00c";
}

#block-views-event-details-block-8 .view-content h2 {
font-size: 21px;
margin: 5px 0;
}



/* Event Header */
#block-views-event-details-block-3 {
	padding: 10px;
	position: relative;
}
#block-views-event-details-block-3 .views-field-field-registration {
	background: #334659;
	padding: 7px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FFF;
	border-radius: 4px;
}
#block-views-event-details-block-3 .views-field-field-registration a{
	color: #fff;
}

.not-logged-in .nav-tabs {
	display: none;
}
.email {
	float: left;
	margin: 0 10px 0 0;
	background: #499BF9;
	color: #FFF;
	border-color: #4B89D0;
}
.rss {
	float: left;
	margin: 0 10px 0 0;
	background: #F99949;
	color: #FFF;
	border-color: #CF965F;
}


/*event-menu navigation*/
.row{
	margin-left: 90px;
}
#event-menu {
    width: 101px;
    height: 100%;
    position: fixed;
    background: #334659;
    padding: 5px 0 0 0;
    overflow-y: scroll;
}

#event-menu a {
	color: #FFF;
	text-align: center;
	font-family: 'Strait', sans-serif;
	display: block;
	font-size: 15px;
	font-weight: 600;
  border-bottom: 2px solid #395066;
  padding: 10px;
}
#event-menu a::before {
  display: block;
  text-align: center;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 28px;
}
#event-menu a.media {
  margin-top: 0;
}
#event-menu a.home::before {
  content: "\f073";
}
#event-menu a.background::before {
  content: "\f005";
}
#event-menu a.agenda::before {
  content: "\f00b";
}
#event-menu a.documents::before {
  content: "\f15c";
}
#event-menu a.statements::before {
  content: "\f130";
}
#event-menu a.media::before {
  content: "\f03e";
}
#event-menu a.register::before {
  content: "\f145";
}
#event-menu a.event-content::before {
  content: "\f07c";
}
#event-menu a.printing-dashboard::before {
  content: "\f02f";
}
#event-menu a.interpreter_dashboard::before {
  content: "\f108";
}

#event-menu li a.active, #event-menu li a:hover, #event-menu li a:focus {
    background: #35404d;
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#event-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

#event-menu li a:hover i, #event-menu li a:focus i {
    color: #FF6C60;
}

#event-menu li a.active i {
    color: #FF6C60;
}

.node-type-master-event .home, .page-node-media .media, .page-node-background .background, .page-node-agenda .agenda, .page-node-documents .documents, .page-node-statements .statements, .page-node-event-content .event-content, .page-node-printing-dashboard .views-field-php-1, #event-menu a:hover{
	background: #4891DC;
}
@media (max-width: 420px){
	body.navbar-is-fixed-top {
		padding-top: 10px!important;
	}
	#event-menu {
		margin-top: 81px;
	}
	#block-views-event-details-block-6 .views-field-field-event-logo img {
		max-height: 64px;
		width: auto;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {
	.col-sm-3 {
		width: 35%;
	}
	.col-sm-9 {
		width: 65%;
	}
}
@media (max-width: 1024px) and (min-width: 768px){
	.col-sm-3 {
		width: 35%;
		padding-right: 5px;
		padding-left: 10px;
	}
	.col-sm-9 {
		width: 65%;
		padding-right: 10px;
		padding-left: 0;
	}
	.view-programme-of-the-day .webcast {
		padding: 2px 5px;
		font-size: 12px;
	}#block-views-event-details-block-3 .views-field-field-registration {
		padding: 3px 5px;
	}
}

@media (max-width: 767px){
	.welcome-toun{
		display: none;
	}
	#event-menu {
		width: 100%;
		height: auto;
		padding: 0px;
		position: relative;
	}
	#event-menu a {
		border-right: 2px solid #395066;
		padding: 10px;
		display: inline-block;
		width: 32.5%;
	}
	.row {
		margin-left: -15px;
	}
	#event-menu i {
    	font-size: 18px;
	}
	#event-menu a {
    	font-size: 13px;
	}
	#block-views-event-details-block-6 .views-field-field-event-logo img {
		max-width: 100%;
		height: auto;
	}
	#block-views-event-details-block-6 .views-field-field-organization-logo {
		display: none;
	}
	nav{
		background: transparent;
	}
	
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 5px;
		padding-left: 5px;
	}
	#block-locale-language a {
		font-size: 10px;
	}
	.view-programme-of-the-day .webcast {
		padding: 2px 5px;
		font-size: 12px;
	}#block-views-event-details-block-3 .views-field-field-registration {
		padding: 3px 5px;
	}
	
}
@media (max-width: 1024px){
	.page-node-background .col-sm-9, .page-node-agenda .col-sm-9, .page-node-documents .col-sm-9, .page-node-statements .col-sm-9, .page-node-media .col-sm-9 {
		width: 100%;
	}
	.page-node-background .col-sm-3, .page-node-agenda .col-sm-3, .page-node-documents .col-sm-3, .page-node-statements .col-sm-3, .page-node-media .col-sm-3 {
		display: none;
	}
}
.page-node-manage-registration .col-sm-9 {
	width: 100%;
}


.view-agenda .views-row, .views-field-field-event-background, .view-id-documents.view-display-id-page_1, .view-documents .views-row, .view-id-media.view-display-id-page_1, #block-views-event-details-block-3{
    background: #FFF; 
    border: 1px solid; 
    border-color: #E5E6E9 #DFE0E4 #D0D1D5; 
    -webkit-border-radius: 3px; 
    padding: 10px;
    margin-bottom: 10px;
}
.page-node-add-master-event .row {
    margin-right: -15px; 
    margin-left: -15px;
}

.page-node-add-master-event .col-sm-12 {
    background: #FFF; 
    border: 1px solid; 
    border-color: #E5E6E9 #DFE0E4 #D0D1D5; 
    -webkit-border-radius: 3px; 
    padding: 10px; 
    margin-bottom: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
/* Programme */
#block-views-programme-of-the-day-block, 
#block-views-programme-of-the-day-block-1, 
#block-views-programme-of-the-day-block-2{
    margin-top: 20px;
}
#block-views-programme-of-the-day-block h2, 
#block-views-programme-of-the-day-block-1 h2, 
#block-views-programme-of-the-day-block-2 h2,
#block-views-programme-of-the-day-block-3 h2{
    margin-bottom: 20px;
}
.view-programme-of-the-day h3, .view-programme-of-the-day h4 {
	font-size: 18px;
	line-height: 18px;
}
.view-programme-of-the-day .fa {
	margin: 0 6px 0 0;
}
.view-programme-of-the-day li {
    list-style: square;
}
.view-programme-of-the-day ul {
    padding: 0 0 0 15px;
}
#block-views-programme-of-the-day-block h2:before, 
#block-views-programme-of-the-day-block-1 h2:before, 
#block-views-programme-of-the-day-block-2 h2:before {
    content: "\f073";  
    font-family: FontAwesome;  
    font-style: normal;  
    font-weight: normal;  
    margin: 0 6px 0 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.view-programme-of-the-day .views-row{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}
.view-programme-of-the-day .views-row-even, tr.even {
	margin: 10px 0;
}
.view-programme-of-the-day .views-field-field-meeting-description {
	clear: both;
}
.views-field-field-meeting-agenda {
	background: #F7F8FA;
	padding: 10px;
	margin-top: 10px;
	border-radius: 4px;
}
.view-programme-of-the-day .webcast {
    background: #334659;
    padding: 7px;
    position: absolute;
    top: 7px;
    right: 6px;
    color: #FFF;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 900;
}
@media (max-width: 767px){
	.views-field-field-meeting-date, .views-field-field-meeting-date-1 {
		float: none;
		margin: 0;
		padding: 0;
		border-right: 0px solid #AEAEAE;
	}
}
span.programme-hd, span.programme-date {
	float: left;
	margin: 0 10px 0 0;
	font-size: 18px;
	font-family: 'Strait', sans-serif;
	line-height: 18px;
	border-right: 1px solid;
	padding: 0 10px 0 0;
	color: #4E5665;
}
{
	background: #F4F7FA;
	border: 1px solid #D2DDE6;
}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content{
    color: #4E5665;
	font-size: 22px;
	padding: 0;
	margin: 0;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#F7F7F7));
	background: -webkit-linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background: #F6F7F8;
	border-bottom: 1px solid #E5E5E5;
	border: 0;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
}
.ui-accordion .ui-accordion-content {
	background: #FFF;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	padding: 10px;
	margin-bottom: 10px;
	border-top: 0;
}
.ui-widget-content{
	font-family: 'Open Sans', sans-serif;
	color: #4E555C;
	font-size: 14px;
}
.ui-widget-content a {
	color: #717986;
	text-decoration: underline;
}
/* Timeline */
#block-views-programme-of-the-day-block-3 {
	margin-top: 30px;
  display: none;
}
#timeline-show {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#block-views-programme-of-the-day-block-3 h2:before {
	content: "\f017";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	margin: 0 6px 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
    
/* Media */

.view-media .views-field-field-photos li {
	display: inline-block;
	margin-bottom: 4px;
	width: 33%;
}
.view-media .views-field-field-photos li img {
	width: 100%;
	height: auto;
}

/* Documants */
.view-documents .fa-file-text, .view-documents .fa-calendar, .views-field-field-statement-by .fa-microphone{
	margin: 0 6px 0 0;
}

.view-documents .views-row {
	position: relative;
}
.views-row-even {
	padding: 10px 0;
}
.chosen-container.form-control {
    padding: 0;
    border: 0px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.view-documents .views-field-nothing a .fa-print {
	color: #FFF;
	background: #659AEB;
	font-size: 20px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 3px;
	margin: 0 5px 0 0;
}
@media (max-width: 767px){
	.view-documents .view-content {
	    width: 100%; 
	    margin-bottom: 15px; 
	    overflow-y: hidden; 
	    overflow-x: scroll; 
	    -ms-overflow-style: -ms-autohiding-scrollbar; 
	    border: 1px solid #DDD; 
	    -webkit-overflow-scrolling: touch;
	}
	.view-documents th, .view-documents td{
		white-space: nowrap;
	}
}
.page-node-statements .view-documents .views-field.views-field-field-attachment {
	position: absolute;
	top: 10px;
	right: 10px;
}
.page-node-statements .view-documents .views-field-field-attachment li {
	padding: 5px 20px;
	border-bottom: 1px solid #E5E5E5;
}
.page-node-statements .view-documents .views-field-field-attachment li.last {
	border-bottom: 0px;
}
/* PRINT */

.webform-component--back-url, .webform-component--file-nid, .webform-component--event{
	display: none;
}
/* Agenda */
.view-agenda h3:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	margin: 0 6px 0 0;
	content: "\f00b";
	font-size: 21px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.view-agenda .views-field-field-agenda-related-files li:before {
    content: "\f15c"; 
    font-family: FontAwesome; 
    font-style: normal; 
    font-weight: normal; 
    margin: 0 6px 0 0;
}

/* Event content */
.view-event-content a {
	font-size: 14px;
}
.view-event-content .views-field.views-field-title {
	width: 60%;
	font-family: 'Open Sans', sans-serif;
}

.view-event-content thead {
	background: #D0D7DD;
	color: #455D69;
	font-size: 12px;
}
tr.even {
	background: #F7F7F8;
}
.view-event-content thead .views-field.views-field-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #455D69
}
.view-event-content caption {
	text-align: left;
}

/* Interpreter Dashboard */
.view-interpreter-dashboard .fa {
	margin: 0 6px 0 0;
}
.view-interpreter-dashboard .views-row{
	position: relative;
}
.view-interpreter-dashboard .views-field-field-attachment {
	position: absolute;
	top: 10px;
	right: 10px;
}
.view-interpreter-dashboard .views-field-field-attachment li {
	padding: 5px 20px;
	border-bottom: 1px solid #E5E5E5;
}
.view-interpreter-dashboard .views-field-field-attachment li.last {
	border-bottom: 0px;
}
.views-field-field-statement-on-behalf-of li {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 5px;
}
.views-label-field-statement-on-behalf-of {
	float: left;
	margin: 0 6px 0 0;
}


/* Arabic */
body.i18n-ar{
	font-family: 'Droid Arabic Kufi', serif;
}
.i18n-ar h1, .i18n-ar h2, .i18n-ar h3, .i18n-ar h4, .i18n-ar h5, .i18n-ar h6, .i18n-ar .h1, .i18n-ar .h2, .i18n-ar .h3, .i18n-ar .h4, .i18n-ar .h5, .i18n-ar .h6, .i18n-ar #event-menu a {
	font-family: 'Droid Arabic Kufi', serif;
}

.i18n-ar h3{
	font-size: 20px;
	line-height: 28px;
}
.i18n-ar h4{
	font-size: 16px;
	line-height: 20px;
}



@media (min-width: 768px){
	.i18n-ar .col-sm-1, .i18n-ar .col-sm-2, .i18n-ar .col-sm-3, .i18n-ar .col-sm-4, .i18n-ar .col-sm-5, .i18n-ar .col-sm-6, .i18n-ar .col-sm-7, .i18n-ar .col-sm-8, .i18n-ar .col-sm-9, .i18n-ar .col-sm-10, .i18n-ar .col-sm-11 {
		float: right;
	}
	.i18n-ar #block-views-event-details-block-6 .views-field-field-event-logo {
		float: right;
	}
	.i18n-ar #block-views-event-details-block-6 .views-field-field-organization-logo {
		float: left;
	}
	.i18n-ar .row {
		margin-right: 100px;
		margin-left: 0;
	}
}

.i18n-ar #block-views-event-details-block-3 .views-field-field-registration {
	left: 10px;
	right: auto;
}
.i18n-ar .views-field-field-meeting-date, .i18n-ar .views-field-field-meeting-date-1 {
	float: right;
	margin: 0 0 0 15px;
	padding: 0 0 0 15px;
	border-left: 1px solid #AEAEAE;
	border-right: 0px;
}
.i18n-ar .webcast {
	left: 0;
	right: auto;
}
.i18n-ar .region.region-un-bar {
	left: 10px;
}
.i18n-ar #block-views-programme-of-the-day-block h2:before, .i18n-ar #block-views-programme-of-the-day-block-1 h2:before, .i18n-ar #block-views-programme-of-the-day-block-2 h2:before, .i18n-ar .region-sidebar-second .block-title:before, .i18n-ar .view-programme-of-the-day .fa, .i18n-ar .view-agenda h3:before, .i18n-ar .view-documents .views-field-nothing a .fa-print, .i18n-ar .view-documents .fa-file-text, .i18n-ar .view-programme-of-the-day li:before, .i18n-ar .view-agenda .views-field-field-agenda-related-files li:before{
	margin: 0 0 0 6px;
}
.i18n-ar th {
	text-align: right;
}



/* Manage Registration */

.page-node-manage-registration .region-highlighted {
    float: left;
    width: 100%;
    padding: 15px 0;
    margin: 0 0 20px 0;
}
.page-node-manage-registration .region-highlighted .block {
    background: #EEE8DD;;
    margin: 0 0 10px 0;
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    padding: 0;
    overflow: hidden;
}
@media (min-width: 768px){
	.page-node-manage-registration .region-highlighted .block {
		width: 32.3%; 
		margin-left: 1%;  
    }
}
.page-node-manage-registration .region-highlighted .block .fa {
    width: 40%; color: #FFF; 
    float: left; 
    text-align: center; 
    padding: 25px 15px; 
    font-size: 50px;
    background: #FCB339;
}
.page-node-manage-registration .region-highlighted .block .fa:hover {
    font-size: 70px;
    padding: 15px 15px;
    -webkit-transition: all 0.7s ease 0s;  
    -moz-transition: all 0.7s ease 0s;  
    -o-transition: all 0.7s ease 0s;  
    transition: all 0.7s ease 0s;
    color: #FFE2B2;
}
.page-node-manage-registration .region-highlighted div.views-count {
    font-size: 40pt;    
    text-align: center; 
    line-height: 50pt;
    font-family: 'Strait', sans-serif;
}
.page-node-manage-registration .region-highlighted h4.placed_bycs-count {
    text-align: center; 
    display: block; 
    font-size: 15px;  
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
	color: #5A5353;
	font-weight: 400;
}

/* ABOUT */

.page-node-58 .container {
	max-width: 1170px;
}
.page-node-58 .row {
	margin-left: -15px;
}
.page-node-58 li {
    list-style-type: disc;
}
.page-node-58 ul {
    padding: 0 0 0 18px;
}

/* FRONT */

body.admin-menu.navbar-is-fixed-top.front {
	padding-top: 1px!important;
}
body.navbar-is-fixed-top.front {
	padding-top: 0px!important;
}
#block-menu-menu-home-page-menu li {
    display: inline-block;
    font-size: 14px;
}
#block-menu-menu-home-page-menu li a {
    color: #505A68;
	border: 1px solid #E0E4E9;
	padding: 6px 15px;
	border-radius: 4px;
}
#block-menu-menu-home-page-menu li a:hover {
	background: #364F63;
	color: #FFF;
}
#block-menu-menu-home-page-menu {
    float: right;
    margin: 60px 0px 0 0;
}
.front #navbar .container {
	max-width: 1170px;
}
.front .navbar .logo img {
	margin: 30px 30px 30px 0;
}
.og-context .navbar .logo{
	display: none;
}
.front .row {
	margin-left: -15px;
}

#first-time {
	display: none;
}

#block-block-1 {
    text-align: center;
    color: #4e575e;
    margin-bottom: 100px;
    margin-top: 50px;
}
#block-block-1 h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
#block-block-1 h2{
    font-size: 24px;
    color: #757f86;
}

#block-block-3 {
	max-width: 877px;
	margin: 0 auto;
}

div#first-time {
    display: none;
}
.main-container.container.features {
    background: #f4f7fa;
    border-top: 1px solid #d2dde6;
}
.region-site-features .block {
    background: #fafafa;
    padding: 30px;
}
@media (min-width: 767px){
	.region-site-features .block {
	width: 29.333333%;
	height: 173px;
	margin: 20px 2%;
	}
}
.front .col-sm-12 {
    max-width: 1170px;
    margin: 0 auto;
}

.region-site-features h2.block-title:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	margin: 0 6px 0 0;
	background: #DDE3E8;
	width: 41px;
	height: 41px;
	display: inline-block;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
}
.region-site-features section#block-block-7 h2.block-title:before {
	content: "\f085";
}
.region-site-features section#block-block-11 h2.block-title:before {
	content: "\f145";
}
.region-site-features section#block-block-13 h2.block-title:before {
	content: "\f10b";
}
.region-site-features section#block-block-16 h2.block-title:before {
	content: "\f011";
}
.region-site-features section#block-block-19 h2.block-title:before {
	content: "\f06c";
}
.region-site-features section#block-block-22 h2.block-title:before {
	content: "\f0ac";
}

.front .footer {
	background: #F4F7FA;
	border-top: 0px solid #D2DDE6;
	margin-top: 0;
	padding: 35px 0 0 0;
}
/* Current and Upcoming Events */
.current-and-upcoming {
  background: #343537;
  color: #FFF;
  padding: 20px 40px;
}
.current-and-upcoming h2.block-title {
  color: #FFF;
  padding: 0px 0px 10px 15px;
}
.current-and-upcoming .view-content {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.view-current-and-upcoming-events .views-row {
    margin-bottom: 20px;
    color: #9D9D9D;
}
.view-current-and-upcoming-events .views-row-even {
  padding: 0 15px;
}
.view-current-and-upcoming-events .views-row:before {
    content: "\f073"; 
    font-family: FontAwesome; 
    font-style: normal; 
    font-weight: normal; 
    margin: 0 6px 0 0; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    font-size: 29px;
    float: left;
    color: #84AED0;
}
.view-current-and-upcoming-events .views-row h3 a {
  color: #FFF;
}





/* User Page */
.view-user-events .view-header {
    width: 24%;
    float: left;
    height: 140px;
    border: dashed 2px #FFFFFF;
    border-radius: 4px;
    margin: 0 5px 10px 5px;
    background: #334659;
    padding: 10px;
    text-align: center;
}

.view-user-events .views-row {
    color: #4E5665; 
    font-size: 22px; 
    padding: 10px; 
    margin: 0; 
    background: 
    -webkit-gradient(linear,center top,center bottom,from(#FFF),to(#F7F7F7)); 
    background: -webkit-linear-gradient(to bottom,#ffffff 0%,#f7f7f7 100%); 
    background: #F6F7F8; 
    border-bottom: 1px solid #E5E5E5;
    margin: 0 5px 10px 5px;
    height: 140px;
    width: 24%;
}

.page-user .row {
    margin-right: -15px; margin-left: -15px;
}

.view-user-events .views-field-title a {
    font-family: 'Strait', sans-serif;      color: #505964;     
}

.view-user-events .view-header a {
    font-family: 'Strait', sans-serif; 
    color: #FFFFFF;
    font-size: 22px;
}
.view-user-events .view-header i.fa {
    color: #5B6D80;
    font-size: 70px;
    margin-top: 10px;
}
.view-user-events .view-header i.fa:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	color: #FFF;
}
@media (min-width: 768px){
	.view-user-events .views-row {
		width: 24%;
	}
}


/* LOGIN Page */
.page-user-login .col-sm-12, .not-logged-in.page-user .col-sm-12 {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 20px; 
    background-color: #FFF; 
    border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); 
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid; 
    border-color: #E5E6E9 #DFE0E4 #D0D1D5; 
    padding: 10px;
}
.page-user-login .row, .not-logged-in.page-user .row {
    margin-left: -15px;
}

/* announcements */

.panel {
    margin: 0 0 10px 0;
    background: #fff;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    -webkit-border-radius: 3px;
    padding: 10px;
}
#block-views-announcements-block-1{
	background: #FFFEDD;
}
#block-views-announcements-block-1 a {
    color: #484841;
}
#block-views-announcements-block-1 a.announcements_link {
    float: left;
    font-size: 14px;
    background: rgb(255, 233, 170);
    padding: 2px 5px;
    margin-right: 10px;
    border-radius: 2px;
}
#block-views-announcements-block-1 a.announcements_link:hover {
    background: #FBD569;
    text-decoration: none;
}
.view-id-announcements.view-display-id-page_1 .views-row {
    padding: 10px;
}

/**********************************
********* Organization Page *******
/*********************************/
body.navbar-is-fixed-top.node-type-organization-group {
	padding-top: 80px!important;
}
.node-type-organization-group h1.page-header {
	display: none;
}


.node-type-organization-group .row {
    margin-right: -15px; margin-left: -15px;
}

.node-type-organization-group .col-sm-12 {
    max-width: 1020px;
    margin: 0 auto;
}

/* Organization Info */
#block-views-organization-events-block-3 {
    background: #FFF; 
    border: 1px solid; 
    border-color: #E5E6E9 #DFE0E4 #D0D1D5; 
    -webkit-border-radius: 3px; 
    padding: 10px; 
    margin-bottom: 10px;
}
/* Slideshow */
#block-views-organization-events-block-4 {
	padding-right: 0;
}
#block-views-organization-events-block-4 .flex-control-nav {
    bottom: 0px;
    z-index: 999;
    opacity: .4;
}
#block-views-organization-events-block-4 .flexslider {
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	-webkit-border-radius: 3px;
	padding: 10px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	-o-box-shadow: 0 0px 0px rgba(0,0,0,.2);
	box-shadow: 0 0px 0px rgba(0,0,0,.2);
}

/* Calendar View */
.fullcalendar .fc-button {
    height: 25px;
    margin-top: 4px;
    font-size: 14px;
    padding: 0 5px;
}
#block-views-organization-events-block-1 {
	background: #FFF;
	border: 1px solid;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	-webkit-border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

/* List of Events */
#block-views-organization-events-block-2 {
    float: left;
    width: 100%;
}
#block-views-organization-events-block-2 .block-title {
	margin: 30px 0 10px 0;
}
#block-views-organization-events-block-2 .views-row {
    color: #4E5665; 
    font-size: 18px; 
    padding: 0; 
    margin: 0 0 10px 0; background: -webkit-gradient(linear,center top,center bottom,from(#FFF),to(#F7F7F7)); background: -webkit-linear-gradient(to bottom,#ffffff 0%,#f7f7f7 100%); background: #F6F7F8; 
    border-bottom: 1px solid #E5E5E5; border: 0; border: 1px solid; border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    font-family: 'Strait',sans-serif;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; 
    overflow: hidden;
}
#block-views-organization-events-block-2 .views-field-field-event-date {
    background: #334659;
    color: #fff;
    padding: 8px 8px 8px 12px;
	margin-right: 10px;
}

#block-views-organization-events-block-2 .views-field {
    display: inline-block;
}
#block-views-organization-events-block-2 .views-field-title {
	border-left: 1px solid;
	padding-left: 15px;
	margin-left: 10px;
}

/* Social media */

/* Hide googleplus description  */
td.gP {
	display: none;
}
.fb-share-button.fb_iframe_widget, #twitter-widget-0, .IN-widget {
	float: left;
	margin: 0 10px 0 0;
}



/**********************************
********* Side Events *******
/*********************************/
.page-node-add-side-event .row, .node-type-side-event .row, .page-side-events .row {
    margin-left: -15px;
}

.page-node-add-side-event .col-sm-12, .node-type-side-event .col-sm-12 {
    max-width: 770px;
    margin: 0 auto;
}

.page-node-add-side-event #side-event-node-form, .node-type-side-event #side-event-node-form, .node-side-event .content  {
    background: #FFF;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    -webkit-border-radius: 3px;
    padding: 15px;
}

/* Views page */
.page-side-events h1.page-header {
    text-align: center;
}
.page-side-events .view-side-events {
    margin-right: -2%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-side-events .view-side-events .view-content {
    display: flex;
    flex-wrap: wrap;
}
.page-side-events .view-side-events .views-row {
    margin: 0 2% 2% 0;
    background: #FFF;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    -webkit-border-radius: 3px;
    width: 31.333333%;
    padding: 15px !important;
    position: relative;
}
.page-side-events .view-side-events .views-row h3.field-content {
    border-bottom: 4px solid #E9EAED;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.page-side-events .view-side-events .views-field.views-field-field-se-contact-name {
    background: #F4F8FF;
    padding: 5px;
    border: 1px solid #DEEAFD;
    border-radius: 3px;
}

.page-side-events .view-side-events .views-field-sid {
    background: #F7FFF4;
    padding: 5px;
    border: 1px solid #E1FFD5;
    border-radius: 3px;
    margin-top: 5px;
}

.page-side-events .view-side-events .views-row .views-field-view .views-row {
    margin: 5px 0 0 0px;
    width: auto;
    padding: 0 !important;
    border: 0;
}

.page-side-events .view-side-events .views-row .views-field-view .views-row .btn {
    background: #334659;
    border: 1px solid #171A1D;
    color: #fff;
    font-weight: 700;
}